body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #202020;
    font-size: 14px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

h1 {
    margin: 70px 0px 20px 0px;
    text-align: center;
    font-size: 50px;
}

p.abstract {
    text-align: center;
    margin: 20px 0px 50px 0px;
}

h2 {
    font-size: 30px;
    margin: 1.2em 0em;
}

p {
    font-size: 14px;
    color: #707070;
    margin: 1.5em 0em;
}